@{
    ViewData["Title"] = "Home Page";
}

@* <img src="/Images/bestcod.jpg" alt="Description of the image"> *@


<div class="text-center">
    <h1 class="display-4" >Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<style>
    body{
       
        background-repeat:no-repeat;
        background-size: cover;
    }
</style>
